.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 10vh;

  &_text {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(left, #1bfcff, #3286fd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }
}
